.list-cards {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;

  li {
    max-width: 370px;
    width: 100%;

    @media (max-width: $sm) {
      max-width: 100%;
    }
  }
}

.card {
  display: block;
  border: 1px solid $light-gray;
  border-radius: 8px;
  background: rgba(238, 238, 238, .32);
  padding: 8px 8px 0 8px;
  
  figure {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    position: relative;
    height: 220px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg,rgba(21, 30, 48, 1) 0%, rgba(21, 30, 48, 0) 30%);
      z-index: 5;
    }

    img {
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .subtitle {
      z-index: 9;
      position: absolute;
      bottom: 0;
      left: 24px;
      border-bottom: 2px solid $red;
      font-size: 12px;
      padding: 0 0 12px 0;
      color: $white;
      margin: 0;
    }
  }

  div {
    padding: 16px 16px 24px 16px;

    h5 {
      margin: 0 0 12px 0;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
    }

    & > p {
      font: 400 15px/140% $font;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      overflow: hidden;
      height: 64px;
    }

    footer {
      display: flex;
      align-items: center;
      justify-content: space-between;

      p {
        font: 600 14px/1 $font;
      }
    }
  }
}

.blog {

  &__banner {
    background: $dark-blue;
    padding: 160px 0 120px 0;

    @media (max-width: $sm) {
      padding: 144px 0 80px 0;
    }

    .container {
      position: relative;
      z-index: 9;

      @media (max-width: $sm) {
        padding: 0;
      }
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 48px 0;

      @media (max-width: $sm) {
        margin: 0 0 32px 0;
        padding: 0 $pm;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
      }
 
      h1 {
        display: flex;
        align-items: center;

        img {
          position: relative;
          z-index: 1;
          margin: 0 -16px 0 0;
        }

        span {
          color: $white;
          position: relative;
          z-index: 5;
        }
      }

      form {
        position: relative;
        max-width: 370px;
        width: 100%;

        &::after {
          content: url("../assets/svg/search.svg ");
          position: absolute;
          bottom: 12px;
          right: 24px;
        }

        label {
          color: $gray;
          font: 500 14px/1 $font;
          display: block;
          margin: 0 0 10px 0;
        }

        input {
          display: block;
          width: 100%;
          font: 500 15px/1 $font;
          background: $white;
          border-radius: 4px;
          padding: 16px 64px 16px 20px;
        }
      }
    }

    &__subtitle {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;

      @media (max-width: $sm) {
        padding: 0 $pm;
        align-items: flex-start;
        flex-direction: column;
      }

      div {

        h1 {
          color: $white;
        }
      }

      form {
        position: relative;
        max-width: 370px;
        width: 100%;

        &::after {
          content: url("../assets/svg/search.svg ");
          position: absolute;
          bottom: 12px;
          right: 24px;
        }

        label {
          color: $gray;
          font: 500 14px/1 $font;
          display: block;
          margin: 0 0 10px 0;
        }

        input {
          display: block;
          width: 100%;
          font: 500 15px/1 $font;
          background: $white;
          border-radius: 4px;
          padding: 16px 64px 16px 20px;
        }
      }
    }

    &__content {
      display: flex;
      gap: 64px;

      @media (max-width: $sm) {
        flex-direction: column;
        gap: $pm;
      }

      &__principal {
        width: 100%;
        display: block;
        overflow: hidden;
        border-radius: 8px;
        position: relative;
        border: 1px solid rgba(255, 255, 255, .16);

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 1;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 5;
          background: linear-gradient(0deg,$dark-blue 0%, rgba(21, 30, 48, 0) 100%);
        }

        div {
          position: absolute;
          bottom: 0;
          left: 0;
          padding: 40px;
          z-index: 9;
          width: 100%;

          @media (max-width: $sm) {
            position: relative;
            padding: 160px $pm $pm $pm;
          }

          .subtitle {
            display: inline-block;
            border-bottom: 2px solid $red;
            font-size: 12px;
            padding: 0 0 12px 0;
            color: $white;
          }

          h4 {
            color: $white;
          }

          & > p {
            color: $white;
            opacity: .64;
            margin: 8px 0 24px 0;

            @media (max-width: $sm) {
              margin: 8px 0 16px 0;
            }
          }

          footer {
            display: flex;
            align-items: center;
            gap: 32px;

            p {
              font: 600 14px/1 $font;
              color: $white;
            }
          }
        }
      }

      &__cards {
        max-width: 370px;
        width: 100%;
        position: relative;

        @media (max-width: $sm) {
          max-width: 100%;
          padding: 0 $pm;
        }

        .swiper {
          border-radius: 8px;

          .card {
            background: $white;
          }
          
          &-prev,
          &-next {
            position: absolute;
            top: 50%;
            z-index: 5;
          }

          &-prev {
            left: 0;
            transform: translate(-50%, -50%);

            @media (max-width: $sm) {
              transform: translateY(-50%);
            }
          }

          &-next {
            right: 0;
            transform: translate(50%, -50%);

            @media (max-width: $sm) {
              transform: translateY(-50%);
            }
          }
        }
      }
    }

    & > img {
      position: absolute;
      top: -450px;
      left: 50%;
      transform: translateX(-50%);
      max-width: initial;
      z-index: 1;
    }
  }

  &__categories {
    padding: 120px 0 0 0;

    @media (max-width: $sm) {
      padding: 80px 0 0 0;
    }

    .container {

      @media (max-width: $sm) {
        padding: 0;
      }

      h2 {
        max-width: 600px;
        width: 100%;
        margin: 0 0 64px 0;

        @media (max-width: $sm) {
          margin: 0 0 40px 0;
          padding: 0 $pm;
        }
      }

      ul {
        border-top: 1px solid $light-gray;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        @media (max-width: $sm) {
          grid-template-columns: repeat(2, 1fr);
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 1px;
          height: 100%;
          background: $white;
        }

        li {

          a {
            font: 600 16px/130% $font;
            text-transform: uppercase;
            border-right: 1px solid $light-gray;
            display: flex;
            align-items: center;
            letter-spacing: 1px;
            gap: 24px;
            justify-content: space-between;
            padding: $pm 32px;
            border-bottom: 1px solid $light-gray;

            @media (max-width: $sm) {
              padding: 16px $pm;
              font-size: 12px;
            }
          
            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  }

  &__articles {
    padding: 120px 0 0 0;

    @media (max-width: $sm) {
      padding: 80px 0 0 0;
    }

    &__header {
      display: flex;
      align-items: center;
      gap: 16px;
      justify-content: space-between;
      margin: 0 0 64px 0;

      @media (max-width: $sm) {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 0 40px 0;
      }
    }
  }
}

.pagination {
  margin: 64px 0 0 0;

  @media screen and (max-width: $sm) {
    margin: 48px 0 0 0;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 4px;

    a,
    span {
      font: 500 16px/1 $font;
      width: 40px;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 1000px;
      color: $black;

      &.current {
        background: $black;
        color: $white;
      }
    }
  }
}

.newsletter {
  padding: 120px 0 0 0;

  @media (max-width: $sm) {
    padding: 80px 0 0 0;
  }

  .container {

    @media (max-width: $sm) {
      padding: 0;
    }

    section {
      background: $dark-blue;
      overflow: hidden;
      border-radius: 8px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      @media (max-width: $sm) {
        grid-template-columns: 1fr;
      }

      & > img {
        object-fit: cover;

        @media (max-width: $sm) {
          height: 250px;
        }
      }

      aside {
        padding: 0 80px;

        @media (max-width: $sm) {
          padding: 0;
        }

        &::after {
          transform: translate(50%, 50%);
        }

        div {
          position: relative;
          z-index: 9;
          display: flex;
          flex-direction: column;
          height: 100%;
          padding: 80px 0;

          @media (max-width: $sm) {
            padding: 40px $pm;
          }

          h6 {
            display: flex;
            align-items: center;
            gap: 8px;
            font-size: 18px;
            color: $white;
            margin: 0 0 16px 0;

            img {
              height: 32px;
            }
          }
  
          h4 {
            flex: 2;
            color: $white;
            padding: 0 0 32px 0;
          }

          form {
            position: relative;

            input {
              display: block;
              width: 100%;
              background: $white;
              padding: 0 64px 0 24px;
              font: 500 16px/1 $font;
              border-radius: 1000px;
              height: 64px;

              &::placeholder {
                opacity: .64;
                color: $gray;
              }
            }

            button {
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              right: 16px;
            }
          }
        }
      }
    }
  }
}

.article {

  &__banner {
    background: $dark-blue;
    padding: 160px 0 0 0;

    @media (max-width: $sm) {
      padding: 144px 0 0 0;
    }

    .container {
      position: relative;
      z-index: 9; 
    }

    &__breadcrumb {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      margin: 0 0 32px 0;

      @media (max-width: $sm) {
        margin: 0 0 16px 0;
      }

      p {
        line-height: 1;
      }

      .subtitle {
        border-bottom: 2px solid $red;
        padding: 0 0 12px 0;
        color: $white;
        margin: 0;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      margin: 0 0 80px 0;

      @media (max-width: $sm) {
        margin: 0 0 40px 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
      }

      &__title {
        max-width: 750px;
        width: 100%;

        h1 {
          color: $white;
          margin: 0 0 32px 0;

          @media (max-width: $sm) {
            margin: 0 0 16px 0;
          }
        }
      }

      &__share {

        ul {
          display: flex;
          gap: 8px;
        }
      }
    }

    &__image {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background: $white;
      }

      .container {
        position: relative;
        z-index: 5;

        img {
          width: 100%;
          border-radius: 8px;
          height: 400px;
          object-fit: cover;
  
          @media (max-width: $sm) {
            height: 300px;
          }
        }
      }
    }

    & > img {
      position: absolute;
      top: -450px;
      left: 50%;
      transform: translateX(-50%);
      max-width: initial;
      z-index: 1;
    }
  }

  &__content {

    &__utils {
      padding: 40px 0;
      max-width: 850px;
      width: 100%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 40px;
      border-bottom: 1px solid $light-gray;

      @media (max-width: $sm) {
        padding: $pm 0;

        & > p {
          width: 100%;
          font-size: 13px;
        }
      }

      div {
        display: flex;
        align-items: center;
        gap: 24px;

        @media (max-width: $sm) {
          gap: 12px;
        }

        img {
          border-radius: 1000px;
          width: 48px;
          height: 48px;
          object-fit: cover;

          @media (max-width: $sm) {
            width: 32px;
            height: 32px;
          }
        }

        p {
          font: 400 14px/1 $font;

          @media (max-width: $sm) {
            font-size: 11px;
            min-width: 0;
          }

          strong {
            font-weight: 600;
            display: block;
            color: $black;
            margin: 4px 0 0 0;

            @media (max-width: $sm) {
              font-size: 13px;
              line-height: 1;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
            }
          }
        }
      }
    }

    &__text {
      max-width: 850px;
      width: 100%;
      margin: 0 auto;
      padding: 40px 0 0 0;
      @include content();

      @media (max-width: $sm) {
        padding: 24px 0 0 0;
      }
    }
  }

  &__relateds {
    padding: 120px 0 0 0;

    @media (max-width: $sm) {
      padding: 80px 0 0 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 64px;

      @media (max-width: $sm) {
        gap: 40px;
      }

      h2 {
        text-align: center;
      }
    }
  }
}