.private {
  background: $dark-blue;

  &__banner {
    position: relative;
    padding: 200px 0 120px 0;
    background: linear-gradient(45deg,rgba(27, 38, 59, 1) 20%, rgba(21, 30, 48, 1) 100%);
    overflow: hidden;

    @media (max-width: $sm) {
      padding: 144px 0 8px 0;
    }

    .container {
      display: flex;
      gap: 8px;
      position: relative;
      z-index: 5;

      @media (max-width: $sm) {
        flex-direction: column;
        padding: 0 8px;
      }
    }

    &__text {
      display: flex;
      justify-content: flex-end;

      article {
        max-width: 725px;
        width: 100%;
        margin: 0 0 0 auto;

        @media (max-width: $sm) {
          max-width: 100%;

          .countries {
            padding: 0 16px;
          }
        }

        h1 {
          color: $white;
          font-size: 48px;
          margin: 0 0 80px 0;
          max-width: 650px;
          width: 100%;

          @media (max-width: $sm) {
            font-size: 30px;
            margin: 0 0 24px 0;
            padding: 0 16px;
          }
        }
        
        section {
          display: flex;
          justify-content: space-between;
          gap: 80px;

          @media (max-width: $sm) {
            flex-direction: column;
            gap: 24px;
          }

          div {
            padding: 32px 0;
            max-width: 400px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            justify-content: space-between;

            @media (max-width: $sm) {
              padding: 0 16px;
              gap: 8px;
            }

            p {
              color: $light-gray;
            }
          }

          a {
            max-width: 265px;
            width: 100%;
            border-radius: 8px;
            background: $red;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            padding: 32px;
            gap: 40px;
            min-height: 240px;

            @media (max-width: $sm) {
              min-height: auto;
              max-width: 100%;
              padding: $pm;
            }

            p {
              font: 700 18px/140% $font;
              color: $white;

              @media (max-width: $sm) {
                padding: 0 64px 0 0;
              }
            }
          }
        }
      }
    }

    &__image {
      position: relative;
      max-width: 400px;
      width: 100%;

      .selo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-50%, -50%);

        @media (max-width: $sm) {
          transform: translateY(-50%);
          top: 0;
          right: 16px;
          left: unset;
        }
      }

      & > img {
        width: 100%;
        height: 100%;
        border-radius: 8px;
        object-fit: cover;
      }
    }

    & > img {
      position: absolute;
      top: -550px;
      left: 50%;
      transform: translateX(-50%);
      max-width: initial;
      z-index: 1;
    }
  }

  &__about {
    padding: 120px 0 0 0;
    position: relative;
    z-index: 5;

    @media (max-width: $sm) {
      padding: 80px 0 0 0;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 80px 0;

      @media (max-width: $sm) {
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin: 0 0 40px 0;
      }

      h2 {
        max-width: 440px;
        width: 100%;
        color: $white;
      }

      p {
        color: $gray;
        max-width: 460px;
        width: 100%;
      }
    }

    &__divisory {
      max-width: 500px;
      height: 1px;
      width: 100%;
      background: linear-gradient(90deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      margin: 0 0 80px 0;

      @media (max-width: $sm) {
        margin: 0 0 40px 0;
      }
    }

    &__text {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $sm) {
        display: block;
      }

      div {
        max-width: 500px;
        width: 100%;

        @media (max-width: $sm) {
          margin: 0 0 32px 0;
        }

        h3 {
          color: $white;
          margin: 0 0 32px 0;

          @media (max-width: $sm) {
            margin: 0 0 16px 0;
          }
        }

        p {
          color: $gray;
          margin: 0 0 64px 0;

          @media (max-width: $sm) {
            margin: 0 0 32px 0;
          }
        }
      }

      img {
        max-width: 460px;
        width: 100%;
        border-radius: 8px;
        object-fit: cover;
      }
    }

    &__logos {
      padding: 80px 0 0 0;

      @media (max-width: $sm) {
        padding: 40px 0 0 0;
      }

      div {
        display: flex;
        align-items: center;
        gap: 24px;

        @media (max-width: $sm) {
          flex-direction: column;
          align-items: flex-start;
        }

        &:not(:last-of-type) {
          margin: 0 0 40px 0;

          @media (max-width: $sm) {
            margin: 0 0 32px 0;
            border-bottom: 1px solid rgba(82, 82, 82, .32);
            padding: 0 0 32px 0;
          }
        }

        figure {
          max-width: 300px;
          width: 100%;
          border-right: 1px solid rgba(255, 255, 255, .16);
          display: flex;
          align-items: center;
          height: 100px;
          margin: 0 80px 0 0;

          @media (max-width: $sm) {
            margin: 0;
            display: block;
            border-right: unset;
            height: auto;

            img {
              max-height: 48px;
            }
          }
        }

        ul {
          width: 100%;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 16px 0;

          @media (max-width: $sm) {
            grid-template-columns: repeat(2, 1fr);
          }

          li {
            flex: 1;

            h3 {
              color: $white;
              margin: 0 0 16px 0;

              @media (max-width: $sm) {
                margin: 0 0 4px 0;
                font-size: 24px;
              }
            }

            p {
              color: $light-gray;

              @media (max-width: $sm) {
                font-size: 14px;
              }
            }
          }
        }
      }
    }

    &__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      margin: 80px 0 0 0;
      padding: 8px;
      background: rgba(255, 255, 255, .16);
      border-radius: 8px;

      @media (max-width: $sm) {
        margin: 40px 0 0 0;
        grid-template-columns: 1fr;
        padding: 0;
      }

      li {
        background: $white;
        border-radius: 8px;
        padding: 64px;

        @media (max-width: $sm) {
          padding: 32px $pm;
        }

        h6 {
          font-weight: 700;
          color: $red;
          margin: 0 0 40px 0;

          @media (max-width: $sm) {
            margin: 0 0 24px 0;
          }
        }

        h4 {
          margin: 0 0 32px 0;

          @media (max-width: $sm) {
            margin: 0 0 16px 0;
          }
        }
      }
    }
  }

  &__square {
    padding: 320px 0 120px 0;
    margin: -160px 0 0 0;
    position: relative;
    z-index: 1;
    background: url("../assets/img/bg-square.png") center/cover no-repeat;

    @media (max-width: $sm) {
      padding: 160px 0 80px 0;
      margin: -80px 0 0 0;
    }

    .container {
      display: flex;
      flex-direction: column;
      align-items: center;

      h2 {
        margin: 0 auto 32px auto;
        width: 100%;
        max-width: 520px;
        color: $white;
        text-align: center;

        @media (min-width: $sm) {
          font-size: 64px;
        }

        @media (max-width: $sm) {
          margin-bottom: 24px;
          padding: 0 $pm;
        }
      }

      ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 24px;
        margin: 80px 0 0 0;

        @media (max-width: $sm) {
          margin: 40px 0 0 0;
          gap: 8px;
        }

        li {
          background: $white;
          border-radius: 1000px;
          display: flex;
          align-items: center;
          gap: 8px;
          padding: 8px 16px;

          @media (max-width: $sm) {
            padding: 6px 12px;
          }

          img {
            height: 24px;

            @media (max-width: $sm) {
              height: 16px;
            }
          }

          p {
            color: $black;
            font: 600 16px/130% $font;
          
            @media (max-width: $sm) {
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  &__normal {
    position: relative;
    padding: 120px 0 0 0;

    @media (max-width: $sm) {
      padding: 80px 0 0 0;
    }

    .container {
      position: relative;
      z-index: 5;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;

      @media (max-width: $sm) {
        flex-direction: column;
      }

      img {
        max-width: 500px;
        width: 100%;
        border-radius: 8px;
        object-fit: cover;

        @media (max-width: $sm) {
          max-height: 280px;
        }
      }

      aside {
        max-width: 530px;
        width: 100%;

        h3 {
          color: $white;
          margin: 0 0 32px 0;

          @media (max-width: $sm) {
            margin: 0 0 16px 0;
          }
        }

        p {
          margin: 0 0 64px 0;

          @media (max-width: $sm) {
            margin: 0 0 32px 0;
          }
        }
      }
    }

    & > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) rotate(-45deg);
      max-width: initial;
      z-index: 1;
    }
  }

  &__est {
    position: relative;
    z-index: 5;
    padding: 120px 0 0 0;

    @media (max-width: $sm) {
      padding: 80px 0 0 0;
    }

    .container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 32px;

      @media (max-width: $sm) {
        flex-direction: column;
      }

      aside {
        max-width: 530px;
        width: 100%;

        h3 {
          color: $white;
          margin: 0 0 32px 0;

          @media (max-width: $sm) {
            margin: 0 0 16px 0;
          }
        }

        & > p {
          margin: 0 0 40px 0;

          @media (max-width: $sm) {
            margin: 0 0 24px 0;
          }
        }

        ul {
          border-left: 1px solid rgba(255, 255, 255, .16);
          padding: 0 0 0 24px;
          display: flex;
          flex-direction: column;
          gap: 32px;

          li {
            display: flex;
            align-items: center;

            small {
              width: 40px;
              color: $gray;
              font: 400 16px/1 $font;
            }

            p {
              color: $white;
              font: 700 24px/120% $font;
            }
          }
        }
      }

      figure {
        position: relative;
        max-width: 500px;
        width: 100%;
        overflow: hidden;
        border-radius: 8px;
        height: 480px;

        @media (max-width: $sm) {
          height: auto;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        p {
          color: $white;
          padding: 40px;
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100%;
          text-align: center;
          color: $white;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
          font: 600 18px/140% $font;

          @media (max-width: $sm) {
            font-size: 16px;
            padding: 32px $pm;
          }
        }
      }
    }
  }

  .partners-sec {
    position: relative;
    z-index: 5;

    .container {

      header {

        h2 {
          color: $white;
        }

        p {
          color: $light-gray;
        }
      }
    }
  }
}